* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: Poppins, Arial;
  font-size: 18px;
}
header {
  display: flex;
  width: 100%;
}
main {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: auto;
}
.hero {
  width: 100%;
  font-family: Open sans, Sans-serif;
  display: grid;
  background-color: hsl(193, 100%, 96%);
  background-image: url("./img/bg-hero-desktop.svg");
  align-items: stretch;
  grid-template-areas:
    "a b"
    "c d";
  margin-right: 10px;
  padding: 5em;
  margin: 10px;
}
.nav {
  align-items: left;
  margin: auto;
  grid-area: "a";
  padding: 20px;
  width: 100%;
  display: flex;

  background-color: inherit;
}
.menu {
  justify-content: right;
  align-items: right;
  margin: auto;
  width: 100%;
  grid-area: "b";
}
.menu .try-free {
  background-color: white;
  margin: auto;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 25px;
}
.text1 {
  grid-area: "c";
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
}
.text1 h2 {
  width: 50%;
  justify-content: left;
  margin-right: 15%;
  font-weight: bold;
  margin-right: auto;
}
.text p {
  width: 50%;
  justify-content: left;
}
.get-started {
  background-color: hsl(322, 100%, 66%);
  align-items: centre;
  justify-content: center;
  color: white;
  font-size: 12px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 25px;

  padding: 0.5rem;
  width: 50%;
}
.image1 {
  grid-area: "d";
}
