* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-color: white;
}
header {
  display: flex;
  width: 100%;
}
main {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: auto;
}
.hero {
  width: 100%;
  display: grid;
  background-color: hsl(193, 100%, 96%);
  background-image: url("./img/bg-hero-desktop.svg");
  align-items: stretch;
  grid-template-areas:
    "a b"
    "c d";

  padding: 5em;
  margin: 10px;
}
.nav {
  align-items: left;
  margin: auto;
  grid-area: "a";
  padding: 20px;
  width: 100%;
  display: flex;

  background-color: inherit;
}
.menu {
  align-items: right;
  margin: 20px;
  width: 100%;
  grid-area: "b";
}
.text1 {
  grid-area: "c";
}
.get-started {
  background-color: hsl(322, 100%, 66%);
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  margin-bottom: 1em;
  border-radius: 25px;
  padding: 0.5rem;
  width: 50%;
}
.image1 {
  grid-area: "d";
}
