* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Poppins", Arial;
  font-size: 18px;
  font-weight: 800;
}
.top-section {
  background-image: url("./img/bg-hero-mobile.svg");
  background-color: hsl(193, 100%, 96%);
  background-size: 100%;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition-property: position;
  transition-duration: 1s;
/*   transition-delay: 0.1s; */
}
header {
  display: flex;
  align-items: stretch;
  padding-top: 20px;
}
header .logo {
  width: 125px;
  margin-left: 2%;
  margin-right: auto;
  /* background-color: pink; */
}
header .logo img {
  width: 100%;
  height: 18px;
}
.menu {
  margin-right: 2%;
}
.menu .try-free {
  background-color: white;
  border: none;
  margin: auto;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 25px;
  box-shadow: 1px 1px 10px 1px hsl(208, 11%, 55%);
}
.hero {
  width: 100%;
  font-family: "Poppins", Sans-serif;
  display: flex;
  flex-direction: column;
  margin: 5em 20% 10% 0em;
  padding: 1pc 15px 5px 3%;
  text-align: center;
  flex-grow: 1;
  transition-delay: 0.9s;
}

.text1 {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.text1 h1 {
  width: 100%;
  margin: auto;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin: 15px 5% 5% 0.5em;
}
.text p {
  width: 50%;
  justify-content: left;
  margin: 10px 15% 10% 0.5em;
}
.get-started {
  background-color: hsl(322, 100%, 66%);

  justify-content: center;
  color: white;
  font-size: 70%;
  margin: 5% 5% 10% 5%;

  border-radius: 25px;
  border: none;
  padding: 1em 1.5em 1em 1.5em;
  width: 75%;
}
.image1 {
  flex-grow: 1;
  width: 100%;
  margin: 30px 5% 30px 5%;
}
.image1 img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .top-section {
    background-image: url("./img/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    max-height: 80vh;

    /* background-size: 100%; */
    margin-right: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .hero {
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-height: 100%;
    /* flex: 1 1 auto; */
  }
  .image1 img {
    max-width: 100%;
    max-height: 70%;
  }
  .image1 .text1 {
    margin: 35px;
    max-height: 70%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.sect-2 {
  background-color: white;

  display: flex;
  flex-direction: column;
}
.second-div {
  /* width: 100%; */
  font-family: "Poppins", Sans-serif;
  display: flex;
  flex-direction: column-reverse;
  margin: 5em 10% 2.5em;
  padding: 1pc 15px 5px 3%;
  text-align: center;
  /* height: 50%; */
  background-color: white;
  transition-delay: 0.9s;
  border-radius: 10px;
  align-items: center;
  box-shadow: 1px 1px 10px 1px hsl(208, 11%, 55%);
}
/*Begin*/

.t2 {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin: 25px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.t2 h1 {
  width: 100%;
  margin: auto;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin: 15px 5% 5% 0.5em;
}
.t2 p {
  width: 50%;
  justify-content: center;
  margin: 10% 15% 10% 15%;
}

/*end*/

.second-div .image2 {
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
  max-height: 50%;
  margin: 30px 5% 25px 5%;
  width: 100%;
  /* box-sizing: border-box; */
  flex-grow: 1 1 0;
}
.second-div .image2 img {
  /* margin: 4pc 4pc 4pc 4pc; */
  /* padding: 0px 10px 5px 10px; */
  max-width: 100%;
  max-height: 50%;
}
@media only screen and (min-width: 768px) {
  .second-div {
    flex-direction: row;
  }
}

/* third div */

.third-div {
  /* width: 100%; */
  font-family: "Poppins", Sans-serif;
  display: flex;
  flex-direction: column-reverse;
  margin: 5em 10% 2.5em;
  padding: 1pc 15px 5px 3%;
  text-align: center;
  /* height: 50%; */
  background-color: white;

  border-radius: 10px;
  align-items: center;
  box-shadow: 1px 1px 10px 1px hsl(208, 11%, 55%);
}
/*Begin*/

.t3 {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin: 25px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.t3 h1 {
  width: 100%;
  margin: auto;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin: 15px 5% 5% 0.5em;
}
.t3 p {
  width: 50%;
  justify-content: center;
  margin: 10% 15% 10% 15%;
}

/*end*/

.third-div .image3 {
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
  max-height: 50%;
  margin: 30px 5% 25px 5%;
  width: 100%;
  /* box-sizing: border-box; */
  flex-grow: 1 1 0;
}
.third-div .image3 img {
  /* margin: 4pc 4pc 4pc 4pc; */
  /* padding: 0px 10px 5px 10px; */
  max-width: 100%;
  max-height: 50%;
}
@media screen and (min-width: 768px) {
  .third-div {
    flex-direction: row-reverse;
  }
}

/* fourth div */

.fourth-div {
  /* width: 100%; */
  font-family: "Poppins", Sans-serif;
  display: flex;
  flex-direction: column-reverse;
  margin: 5em 10% 2.5em;
  padding: 1pc 15px 5px 3%;
  text-align: center;
  /* height: 50%; */
  background-color: white;

  border-radius: 10px;
  align-items: center;
  box-shadow: 1px 1px 10px 1px hsl(208, 11%, 55%);
}
/*Begin*/

.t4 {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin: 25px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.t4 h1 {
  width: 100%;
  margin: auto;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  margin: 15px 5% 5% 0.5em;
}
.t4 p {
  width: 50%;
  justify-content: center;
  margin: 10% 15% 10% 15%;
}

/*end*/

.fourth-div .image4 {
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
  max-height: 50%;
  margin: 30px 5% 25px 5%;
  width: 100%;
  /* box-sizing: border-box; */
  flex-grow: 1 1 0;
}
.fourth-div .image4 img {
  /* margin: 4pc 4pc 4pc 4pc; */
  /* padding: 0px 10px 5px 10px; */
  max-width: 100%;
  max-height: 50%;
}
@media screen and (min-width: 768px) {
  .fourth-div {
    flex-direction: row;
  }
}

/* The small floating card */
.myCard {
  /* width: 100%; */
  font-family: "Poppins", Sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10% 30% -5% 30%;
  padding: 1pc 15px 5px 3%;
  text-align: center;

  /* height: 50%; */
  background-color: white;

  border-radius: 10px;
  align-items: center;
  box-shadow: 1px 1px 10px 1px hsl(208, 11%, 55%);
}

.myCard .get-started {
  box-shadow: 1px 1px 10px 1px hsl(208, 11%, 55%);
}
.myCard h2 {
  /* margin: 10% 30% 15% 30%; */
  /* padding: 1% 1.5% 1% 1.5%; */
  align-items: center;
  font-size: large;
  max-width: 100%;
  max-height: 100%;
}
footer {
  background-color: hsl(192, 100%, 9%);
  background-size: 100%;
  margin-top: -1em;
  position: relative;
  box-sizing: border-box;
  /* flex: 1 1 0; */
  z-index: -1;
  align-items: center;
  text-align: center;
  /* height: -50vh; */
  /* box-sizing: border-box; */
}
.footer {
  display: grid;
  /* flex-direction: column; */
  padding: 10% 3% 3% 3%;
  color: hsl(208, 11%, 55%);
  font-size: 14px;

  /* width: 0; */
}
#logo {
  grid-area: "a";
  flex-wrap: wrap;
  text-align: left;
  margin: 0 2% 2% 10%;
  /* background-color: white; */
}
#logo .logo {
  filter: invert(100%);
  justify-content: left;
  margin: 10% 10% 3% 0%;
  align-items: center;

  /* width: 125px;
  margin-left: 2%;
  margin-right: auto; */
}
.footer .logo img {
  filter: grayscale(200%);
}
.footer .goto {
  padding: 5%;
}
.location,
.phone,
.mail {
  display: flex;
  margin: 0 0 5%;
}
.location p,
.phone p,
.mail p {
  text-align: left;
  margin: 0;
  /* margin: 0 0 5%; */
}

.location img,
.phone img,
.mail img {
  margin: 0 10%;
  max-width: 25%;
  height: 50%;
  /* justify-content: flex-start; */
}
.social {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  grid-area: "c";
  align-items: center;
  /* background-color: brown; */
  /* flex-direction: row; */
}
.fa {
  /* background: #3B5998; */
  color: white;
  margin: 25% 25% 50% 0;
}

/* Twitter */
.fa-twitter {
  /* background: #55ACEE; */
  color: white;
}
.copyright {
  width: 100vw;
  color: aliceblue;
  margin-bottom: 2em;
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    /* padding: 10% 3% 3% 3%; */

    /* width: 0%; */
    text-align: center;
  }
  .about {
    display: flex;
    flex: 1 1 0;
    grid-area: "b";
    /* background-color: yellow; */
    text-align: left;
    justify-content: center;
    align-items: center;

    /* flex-direction: row; */
  }
  .footer .logo {
    /* width: 125px; */
    margin-left: 2%;
    margin-right: auto;
  }
  .about {
    text-align: center;
    /* align-items: center; */
    justify-content: center;
  }
  .about ul {
    margin: 5%;
  }
  .about li {
    margin: 25% 25% 50% 0;
  }

  .social {
    justify-content: center;
  }
}
/* https://stackoverflow.com/questions/51720909/how-to-get-python-m-venv-to-directly-install-latest-pip-version/60217751#60217751 */
